imdb/pretrain/*
!imdb/pretrain/.keep

imdb/data/*
!imdb/data/.keep

imdb/sample_sensi/*
!imdb/sample_sensi/.keep

imdb/metric/__pycache__/*

imdb/task/*
!imdb/task/.keep

imdb/log/*
!imdb/log/.keep

imdb/.ipynb_checkpoints/*
