pretrain/*
!pretrain/.keep

data/*
!data/.keep

reproduce/*
!reproduce/.keep

sample_sensi/*
!sample_sensi/.keep

sample_sensi_tester/*

metric/__pycache__/*

visualize/log/*
!visualize/log/.keep

backup/*

