pretrain/*
!pretrain/.keep

data/*
!data/.keep
data_*

reproduce/*
!reproduce/.keep

sample_sensi/*
!sample_sensi/.keep
sample_sensi_*

metric/__pycache__/*

visualize/log/*
!visualize/log/.keep

backup/*

task/*
!task/.keep
